// Home_Page CSS
$xxl: 2900px;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0;
$primary: #223A47;
$secondary: #F27257;

#wrapper-navbar {
  .top-header-holder {
	height: 200px;
	background-color: #f1f1f1;
	padding-top: 50px;
	padding-bottom: 50px;
	@media (max-width: $lg) {
	  padding-top: 40px;
	  padding-bottom: 20px;
	}
	@media (max-width: $xl) {

	}
	@media (max-width: $xxl) {

	}
  }
  .logo-holder-container {
	text-decoration: none;
  }
  .reservation-holder {
	@media (max-width: $lg) {
	  text-align: center;
	}
  }
  .contact-holder {
	font-family: 'Signika', sans-serif;
	transition: 0.25s ease all;
	font-size: 12px;
	a {
	  display: inline-block;
	  margin-right: 1em;
	  margin-bottom: 1em;
	  color: white;
	}
	@media (max-width: $lg) {
	  .social-media-holder-tablet {
		display: inline-block;
		font-size: 14px;
		margin-left: 1em;
	  }
	}
  }
  .reservation-btn {
	font-family: 'Fredericka the great';
	font-size: 22px;
	display: inline-block;
	padding: 0.25em 4.5em;
	transition: 0.25s ease all;
	cursor: pointer;
	text-decoration: none;
	border: 1px dotted;
	border-radius: 43px;
	line-height: 47px;
	&:hover {
	  text-decoration: none;
	}
	@media (max-width: $lg) {
	  font-size: 18px;
	  padding: 0.125em 3.8em;
	}
  }
  .social-media-holder {
	font-size: 22px;
	padding: 10px 15px;
	.fa {
	  color: white;
	  margin-right: 20px;
	  margin-bottom: 5px;
	  &:hover {
		text-decoration: none;
		color: darken($secondary, 15%);
	  }
	  @media (max-width: $lg) {
		display: none;
	  }
	  &.social-media-holder-tablet {
		display: none;
		@media (max-width: $lg) {
		  display: inline-block;
		  font-size: 14px;
		}
	  }
	}
  }
  margin-bottom: -275px;
  #main-nav {
	border-top: 1px solid rgba(#5DA0AA, 0.5);
	border-bottom: 1px solid rgba(#5DA0AA, 0.5);
  }
  ul {
	flex: 1;
	justify-content: space-between;
	li {
	  a {
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		padding: 1em 0.5em;
	  }
	  &.current_page_item {
		a {
		  color: $secondary;
		}
	  }
	}
  }
}
.home-banner {
  background-color: #fff;
  background-image: url("./img/home-banner-new.jpg");
  background-size: cover;
}

// Footer Section ---------------------------------------

body {
  font-family: 'Signika', sans-serif;
}
.bg-grey {
  background: #292929;
}
.logo-footer {
  margin-bottom: 40px;
}
.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}
footer {
  color: grey;
}
.footer-ap {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
footer h6 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
  position: relative;
}
footer h6:after {
  position: absolute;
  content: "";
  background: grey;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}
.btn-footer {
  color: grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}
.btn-footer:hover {

  text-decoration: none;

}
.form-footer input[type="text"] {
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  padding-left: 10px;

}
::placeholder {
  font-size: 10px;
  padding-left: 10px;
  font-style: italic;
}
.form-footer input[type="button"] {
  border: none;
  background:#232323;
  margin-left: -5px;
  color: #fff;
  outline: none;
  border-radius: 0 16px 16px 0;
  padding: 2px 12px;
}
.social .fa {
  color: grey;
  font-size: 22px;
  padding: 10px 15px;
  background: #3c3c3c;
}
footer ul li {
  list-style: none;
  display: block;
}
footer ul  {
  padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
  text-decoration: none;
  color: #FF8C00 !important;

}

#about-reformed-tech{

  margin-right: 9px;
}
